@import './mixins.styl'
@import './fonts.styl'

section
  position relative
  box-sizing border-box
  & h2
    margin 0px

html 
  font-family 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size 16px
  word-spacing 1px
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased
  box-sizing border-box

*,
*:before,
*:after
  box-sizing border-box
  margin 0
  font forText

//.about-me_buttons
  //font forText

:root
  --color-second #ff1c76
  --color-active #04ded4
  --color-bg #19102E
  --color-green #91e60a
  --size-article-block 50vmin 
  --count-article-block 3 
  --text-font forText

body
  color var(--color-active)
  font-family forText
  padding 0
  margin 0
  background-color var(--color-bg)
  font-size 1.1rem

ul
  padding 0

ul li
  list-style-type none

h1, h2, h3, h4, h5, h6
  font-family forBigTitle, sans

h2 
  font 7vmin forBigTitle, sans
  margin 10px
  text-align center
  position relative
  &:before
    content ""
    display block
    background var(--color-active)
    left 50%
    transform translateX(-50%)
    width 15ch
    height 2px
    position absolute
    bottom 0px
    border-radius 2px
    filter drop-shadow(0 0 3px var(--color-active))

a
  text-decoration none
  color inherit

.center-position
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)

.wrapper
  width calc(var(--size-article-block) * 3)
  margin 0 auto

.router-anim-enter-active
  animation: coming .4s;
  animation-delay: .4s;
  opacity: 0;

.router-anim-leave-active 
  animation going .4s

.container 
  margin 0 auto
  min-height 100vh

@keyframes going {
  to {
    opacity: 0;
  }
}
@keyframes coming {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.layout-enter-active
  animation slideIn .4s
  animation-delay .4s
  opacity 0

.layout-leave-active 
  animation slideOut .4s

@keyframes slideOut {
  to {
    transform: translateX(-100vw)
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100vw)
  }
  to {
    transform: translateX(0)
  }
}

@import './adaptive.styl'
