forText = "DINPro-Light", Sans
forBigTitle = "Code-Pro-Light", Sans

.center
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)

circle(n)
  width n
  height n
  border-radius 50%
